<h1>Index Html</h1>

<div class="container">
	<table class="table">
		<thead>
			<tr>
				<th>Conf</th>
				<th>Sql</th>
				<th>Reseau</th>
				<th>Expression</th>
				<th>Toeic</th>
			</tr>
		</thead>
		<tbody>
			<tr>
			<% @new_hash.each do | tag, elem | %>
			  	<% if elem == 1 || elem >= 4 %>
			  		<td class="success"><%= tag %></td>
			  	<% else %>
			  		<td class="danger"><%= tag %></td>
			  	<% end %>
			<% end %>
		</tr>
		</tbody>
	</table>
</div>

